#home header {
  border-bottom: solid 1px #E1E1E1;
  background-color: #F8F8F8;
  height: 44px;
  position: absolute;
  width: 100%;
  z-index: 1;
}
#home header h2 {
  margin: 0px;
  text-align: center;
  color: #4C4C4C;
  font-size: 20px;
  padding-top: 10px;
}
#home section {
  background-color: #fff;
  text-align: center;
  padding: 60px 0px;
}
#home section#tela1 ul li {
  outline: solid 1px gray;
}
#home section#tela1 .thumbnail i.fas {
  font-size: 50px;
}
#home section#tela2 ul li {
  text-align: left;
}
#home section#tela2 ul li a {
  float: right;
  color: red;
  margin-left: 5px;
}
#home section#tela3 li {
  border-bottom: solid 1px #19152d;
  text-align: left;
}
#home section#tela3 a {
  margin: 11px auto;
  width: 29%;
}
#home nav {
  border-top: solid 1px #F0EFF5;
  background-color: #F8F8F8;
  height: 49px;
  position: absolute;
  bottom: 0%;
  width: 100%;
  text-align: center;
}
#home nav ul {
  margin: 0px;
  padding: 0px;
  margin: 0 auto;
}
#home nav ul li {
  width: 60px;
  height: 45px;
  display: inline-block;
  background-position: 70px -26px;
  text-align: center;
}
#home nav ul li a {
  margin: 0px;
  padding: 0px;
  font-size: 0px;
}
#home nav ul li a i {
  color: gray;
  font-size: 32px;
  padding-top: 8px;
}
#home nav ul li.ativado a i {
  color: #0070ff;
}
@media (min-width: 768px) {
  .container {
    max-width: 320px;
  }
}
