 <div id="home" ng-cloak>
    <div class="wrapper">
        <header>
            <h2>{{titulo}} 
                <a href="javascript:void(0)">
                    <i class="fas fa-sort" 
                        ng-if="(tela==3) || (tela==6)"
                        ng-click="reordenar()"></i>
                </a>
            </h2>
        </header>
        <section ng-if="tela==1" id="tela1" data-apelido="home">
            <div class="row">
                <div class="col-xs-6">
                    <div class="thumbnail">
                        <i class="fas fa-oil-can"></i>
                        <h3>Óleo</h3>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="thumbnail">
                        <i class="fas fa-cogs"></i>
                        <h3>Relação</h3>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="thumbnail">
                        <i class="fas fa-ring"></i>
                        <h3>Pneu</h3>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="thumbnail">
                        <i class="fas fa-lightbulb"></i>
                        <h3>Lâmpada</h3>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="thumbnail">
                        <i class="fas fa-car-battery"></i>
                        <h3>Bateria</h3>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="thumbnail">
                        <i class="fas fa-hammer"></i>
                        <h3>Outros</h3>
                    </div>
                </div>
            </div>
        </section>
        <section ng-if="tela==2" id="tela2" data-apelido="listagem">
            <h2>Lista</h2>
            <ul class="list-group list-group-flush">

                <li class="list-group-item" ng-repeat="(key, value) in lista">
                    
                    <span class="label label-primary">11/12/2019</span>
                    {{value.ano}} - {{value.fabricante}} - {{value.modelo}}
                    <a href="javascript:void(0)" class="">
                        <i class="fas fa-trash"></i>
                    </a>    
                </li>
                
            </ul>
        </section>
        <section ng-if="(tela==3)" id="tela3" data-apelido="edicao">
            Categoria:
            <select>
                <option value="aaa">aaa</option>
                <option value="bbb">bbb</option>
                <option value="ccc">ccc</option>
            </select>
            <input class="ponto" ng-model="entidadeSelecionada.ponto"></input>   
            <a class="btn btn-success" ng-click="salvar()">Salvar</a>         
            <a class="btn btn-warning" ng-click="voltar()">Voltar</a>         
            <a class="btn btn-danger" ng-click="deletar(entidadeSelecionada.id)">Excluir</a>         
        </section>
        <nav>
            <ul>
                <li ng-click="mudarTela(1)" ng-class="{'ativado' : tela==1}" class="ponto"><a href="javascript:void(0)"><i class="fas fa-home"></i>home</a></li>
                <li ng-click="mudarTela(2)" ng-class="{'ativado' : tela==2}" class="hoje"><a href="javascript:void(0)"><i class="fas fa-list"></i>lista</a></li>
                <li ng-click="mudarTela(3)" ng-class="{'ativado' : tela==3}" class="mes"><a href="javascript:void(0)"><i class="fas fa-wrench"></i>novo</a></li>
                <li ng-click="sair()" class="sair"><a href="javascript:void(0)"><i class="fas fa-sign-out-alt"></i>sair</a></li>
            </ul>
        </nav>
    </div>
 </div> 